@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,600;1,6..12,300&family=Patrick+Hand&family=Quicksand:wght@300;400;500&family=Roboto+Slab:wght@300;400;500&family=Sono:wght@300&display=swap');
*{
    font-family: 'Nunito Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; 
    text-decoration:none;
    transition: .2s linear;
    
}

/* navigation bar
__________________________________________*/

.header{
    display: flex; 
    height: 90px;
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    justify-content: space-between;
    
  }


.header .logo img{
    width: 150px;
    height: 100px;
}
.header .navbar {
  
    display: flex;
    align-items: center;
    margin-left: 120px; 
}
.header .navbar li{
    margin-right: 35px;
    font-size: 18px;
    display: inline-block;
    font-weight: bold;
}
.header .navbar li :hover{
    color:  #e9a372;
    border-bottom: 3px inset #C54BA5;
    padding-bottom: 5px;
  
}

.header  .icons{
    width:10px;
    margin-right:0;
    display:flex;
    align-items:center;
   
}

.header  .icons a{
    font-size: 23px;
    margin-left:35px;

}

.header .icons a:hover{
    color:  #e9a372;

}


.header a{
    color: #C54BA5;
}

.header .button{
    display: flex;
    gap: 10px; 
    margin-right: 15px; 
    padding: 25px;
    

   
}
.header .button a:hover{
    background-color:#f2f2ef;
    color:#e9a372;
    border-bottom: none;
 }

 .header .button :hover{
    background-color:#f2f2ef;
    color:#e9a372;
    

 }

 
 .button button{
    border-radius: 15px;
    font-size: 16px;
    padding: 5px 25px;
    align-items: center;
    cursor:pointer;
    font-weight: bold;
    border: 3px outset #C54BA5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color:#C54BA5;
    transition:all 0.4 ease;
    background-color:#efefef;

}

/* home
__________________________________________*/

.background {
     width: 100%;
     height: 100%;
     object-fit: cover;
}

/* About Us
__________________________________________*/

.parts {
    width: 100%;
    min-height: 750px;
    background:radial-gradient(circle, rgba(255,247,173,1) 0%, rgba(249,216,246,100) 70%);
    margin-top:20px;
}

.container{
    width: 100%;
    display: inline;
  
}
.heading{
    padding-bottom: 10px;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    
}

.content-section{
    float: right;
    width: 48%;
    margin-top: 90px;
    padding:30px;
 
}

.gif-section{
    float: left;
    width: 48%;
}

.gif-section img{
    margin-top: 135px;
    height: auto;
    width: 100%;
   
   
}

.content-section .content p{
    margin-top: 30px;
    font-size: 22px;
    line-height: 1.5;
 }

 #more {/* hide this one */
    position: absolute;
    right: 100vw;
  }
  
  .non_visible_text {
    display: none; 
  }
  
  label[for="more"] {/* use a label linked to the checkbox, style it like a button if you wish */
    -moz-appearance: button;
    appearance: button;
    margin-top: 20px;
  }
  
  label[for="more"]:after {
    content: 'More...';/* update text */
    border: 3px outset #C54BA5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius:10px;
    padding: 8px 13px;
    font-size: 16px;
    letter-spacing: 1.5px;
  }
  
  #more:checked~.non_visible_text {
    display: block;/* show hidden tag */
  }
  
  #more:checked~label[for="more"]:after {
    content: 'Less...';/* update text */
    border: 3px outset #C54BA5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 8px 13px;
    font-size: 16px;
    letter-spacing: 1.5px;
  }
/* Sign Up-Log In
__________________________________________*/

.backimage img {
    opacity: 0.6;    
    left:0;
    top:0;
    width:100%;
    position:absolute;
    z-index:-1;
    
}
.signup-login{
   
    width:100%;
    min-height: 950px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.signup-login-form {
    background-color:#fce4fa;
    padding:25px;
    border-radius:25px;
    width:430px;
    
}

h1{
    font-size:30px;
    font-weight:600;
    color: #C54BA5;
    text-align: center;
 }

form{
    margin-top:30px;
   
}

form .input-field {
    position:relative;
    height:50px;
    width:100%;
    margin-top:21px;
    
}
.input-field input{
    height:100%;
    width:100%;
   
}
.input-field .icon-eye{
   position:absolute;
   font-size:15px;
   color:#C54BA5;
   top:50%;
   right:22px;
   transform: translateY(-50%);
   cursor: pointer;
  
}

 form .button button{
   height:100%;
   width:100%;
   margin-top:21px;
   
 }

 .button button:hover{
    background-color:#C54BA5;
    color:#fff;
 }

 input{
    font-size:15px;
    font-weight:400;
    padding:15px;
    border: 2px solid #e9a372;
    border-radius: 15px;
    
 }

 input:focus{
    border-top-width:3px;
 }


 .form-link{
    text-align:center;
    margin-top:10px;
 }

 .form-link span,span a{
    font-size:14px;
 }

 .form-link a{
    color:#C54BA5;
 }

 form a:hover{
    text-decoration:underline;
 }

 .form-content a:hover{
    text-decoration:underline;
 }

.lines{
   position:relative;
    height:2px;
    width:100%;
    margin:25px 0;
    background-color:#C54BA5;
}

.lines::before{
    content: 'Or';
    top:50%;
    right:37%;
    color:#C54BA5;
    background-color:#fce4fa;
    position:absolute;
    transform:translate(-50%, -50%);
    padding:15px;
}

.account a{
    display:flex;
    background-color:#f2f2ef;
    border-radius: 15px;
    font-size: 18px;
    padding: 5px 25px;
    align-items: center;
    justify-content:center;
    gap:15px;
    font-weight:400;
    border: 2px solid #C54BA5;
    color:#C54BA5;
     
}

.account .google-account i{
    height:30px;
    width:30px;
    border-radius:50%;
    align-items:center;
    color:#fff;
    background-color:#C54BA5;
    display:flex;
    justify-content:center;
    opacity:0.8;
 }

/* Products
__________________________________________*/


 .products {
    text-align:center;
    margin-top:100px;
    padding:30px;
   
}

.products .pro-con .product{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
.products h2{
    font-size: 25px;
    color:#C54BA5;
    height:60px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background:radial-gradient(circle, rgba(255,247,173,1) 0%, rgba(249,216,246,100) 70%);
}

.products .product .description{
    text-align:start;
    padding:8px 0;
}

.products .product .description span{
    color:#96915b;
    text-size:10px;
}

 .products .product{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
.products .product .description h4{
    color:#C54BA5;
    font-size:18px;
    padding-top:6px;
}

.products .product  h3{
    color:#6f0a67;
    font-size:20px;
    padding-top:6px;
}

.products .product li {
    margin-top:45px;
    width:23%;
    min-width:250px;
    padding: 10px 20px;
    border: 3px outset #C54BA5;
    background-color:#fae1f8;
    border-radius:20px;
    cursor:pointer;
    transition:all 0.4 ease;
    position:relative;
    list-style:none;  
}

.products .product li:hover {
    box-shadow: 10px 10px 10px rgba(255, 247, 173, 1);
}

.products .product img {
    width:100%;
    padding-top:8px;
    border-radius:20px;
 
 }

 .products .product .heart {
    width:45px;
    height:42px;
    line-height: 36px;
    border-radius:20px;
    background-color:#efefef;
    color:#6f0a67;
    border: 2px outset #C54BA5;
    position:absolute;
    right:70px;
    bottom:15px;
 }

 .products .product .cart {
    width:45px;
    height:42px;
    line-height: 36px;
    border-radius:20px;
    background-color:#efefef;
    color:#6f0a67;
    border: 2px outset #C54BA5;
    position:absolute;
    right:20px;
    bottom:15px;
 }

 .numbers{
    text-align:center;
    width:100%;
    height:150px;
    justify-content:center;
    align-items:center;
    display: flex; 
   
 }

 .numbers a{
    border-radius:10px;
    font-size:20px;
    border: 2px outset #C54BA5;
    padding: 7px 15px;
    color:#6f0a67;
    margin-bottom:20px;
    margin-right:6px; 
    font-weight:600; 
 }

 .numbers a:hover{
    background-color:#C54BA5;
    color:#fff;
 }

 .details{
    width:100%;
    display:flex;
    margin-top:100px;
    background:radial-gradient(circle, rgba(255,247,173,1) 0%, rgba(249,216,246,100) 70%);

 }

 .details .oneproduct{
   width: 48%;
   min-height:650px;
   margin-right:40px;
 }

 .details .oneproduct img{
    width: 70%;
    margin:70px;
    border: 2px outset #C54BA5;
    border-radius: 25px;

  }

 .details .info{
   width: 48%;
   padding-top:30px;
   margin-left:100px;
   
 }

 .details .info h3{
    font-size:30px;
    color:#C54BA5;
 }

 .details .info h4{
    padding: 25px 0 15px 0;
    font-size:20px;
 }

 .details .info h2{
    font-size:30px;
    color:#6f0a67;
 }
 
 .details .info input{
    justify-content:center;
    width:70px;
    height:45px;
    font-size:16px;
    border: 2px outset #C54BA5;
    font-weight:600; 
    color:#C54BA5;
    background-color:#efefef;
 }

 .details .info .con1{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:25%;
    height:30px;
    margin-top:18px;
    
  }

  .details .info a{
     font-size:30px;
     color:#C54BA5;
  }

 .details .info .con2{
   display:flex;
   align-items:center;
   justify-content:space-between;
   width:40%;
   height:60px;
   margin-top:18px;
   
 }

 .details .info .average{
    margin-bottom:30px;
    color:#6f0a67;
    font-weight:bold;
   
 }
 .details .info  .value{
    width:50%;
    display:flex;
    justify-content:space-between;
    border-bottom: 1px inset #C54BA5;
 }

/* Search
__________________________________________*/

.searching{
    width:100%;
    height:100px;
    margin-top:50px;
    align-items:center;

}
 .con-search{
    margin-top:50px;
    displey:flex;
    align-items:center;
    position:relative;
 }
 .search-text{
    border: 2px outset #C54BA5;
    border-radius:20px;
    width:40%;
    height:60px;
    font-size:18px;
    
 }

 .search-text:focus{
    border: 3px outset #C54BA5;
    margin: 0 0 0 -53px;
 }

 .searching a .search{
    width:42px;
    height:40px;
    line-height:36px;
    border-radius:20px;
    background-color:#efefef;
    color:#6f0a67;
    border: 2px outset #C54BA5;
    position:absolute;
    margin: 9px 0 0 -53px;
    text-align:center;
    cursor:pointer;
 }


 

/* Filters/Sorting
__________________________________________*/
.filter-sorting{
    margin-top:20px;
    display:flex;
    align-items:center;
    justify-content:space-between;

}
.filter-sorting .filters li{
   padding:15px;
   float:left;
   font-size:18px;
   border-radius:18px;
   list-style:none;
   margin:10px;
}

.filter-sorting ul li a{
    color:#C54BA5;
}

.filter-sorting ul .active{
    background-color:efefef;
    border: 3px outset #C54BA5;
}

.filter-sorting ul .active a{
    color:#C54BA5;
    font-weight:bold;
}
.sort{
    padding:20px;
    font-size:18px;
    height:100px;
    font-weight:bold;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    
    
}

.sort span{
    padding-right:7px;
    color:#6f0a67;
    font-size:18px;
}

.sort select{
    width:110px;
    border-radius:5px;
    border: 2px outset #C54BA5;
    color: #C54BA5;
    font-weight:bold;
    outline:none;
    cursor:pointer;
    justify-content:space-between;
    
}




/* Contact
__________________________________________*/


.contact .parts .heading{
   padding-top:30px;
}

.contact .row{
    width:100%;

}

.contact .row form{
    padding: 38px;
    text-align: center;
    border-radius: 15px;
    margin-top: 20px;
    
    
}

.contact .row form h3{
    font-size: 20px;
    padding-right:420px;
    color:#C54BA5;
    
}

.contact .row form .box{
    width:50%;
    border: 2px solid #e9a372;
   
}

.contact .row form textarea{
    width:90%;
    height:230px;
    resize: none;
    text-transform: none;
    
    border-radius: 15px;
    font-size:15px;
    font-weight:400;
    padding:15px;
}
.contact form .button button{
    margin-top:210px;
    width:20%;
}

.contact form .button button:hover{
    background-color:#C54BA5;
    color:#fff;
 }


/* Footer
__________________________________________*/


 .footer{
    background: #f2f2ef;
    padding: 15px;
    
}

 .footer .credit{
    text-align: center;
    justify-content:center;
    font-size: 17px;
    color:#C54BA5;
 }